
.card-body {
    text-align: center;
    vertical-align: middle;
    width: 60%;
    margin: 0 auto
}
.multiple-select {
    width: 100%;
}
.form-label-group-edit{
    text-align: center;
    vertical-align: middle;
    width: 60%;
    margin: 0 auto;
}
.multiple-select-edit{
    width: 100%;
}
.modal-body-delete{
    text-align: center;
    vertical-align: middle;
    width: 60%;
    margin: 0 auto;
}